{{extend 'layout.html'}}
<style type="text/css">
   /* Make room for the mini-form */
   html body { margin-top: 60px; }
   
   /* Reset all styles */
   #include * {
      text-align: left;
      border: 0; padding: 0; margin: 0;
      font: 12px Verdana,Arial,Tahoma;
      color: #eee;
      font-weight: normal;
      background: transparent;
      text-decoration: none;
      display: inline;
   }
   #include h2
    {
        align: center;
    }
   #include p {
      margin: 4px 0 0 10px;
      display: block;
   }
   #include b {
      font-weight: bold;
   }
   #include script {
      display:none;
   }
   
   /* Style the mini-form div */
   #include {
      border-top: 3px solid #ce6c1c;
      border-bottom: 3px solid #ce6c1c;
      background: #0b1933;
      position: absolute;
      top:0; left:0;
      width: 100%;
      height: 50px;
      z-index: 100000;
   }
   
   /* Mini-form elements */
   #include a {
      color: #ce6c1c;
   }
   #include a:hover {
      color: #ccc;
   }
   #include .url-input {
      padding: 2px;
      background: #eee;
      color: #111;
      border: 1px solid #ccc;
   }
   #include .url-input:focus {
      background: #fff;
      border: 1px solid #ce6c1c;
   }
   #include .url-button {
      font-weight: bold;
      border-style: outset;
      font-size: 11px;
      line-height: 10px;
   }
</style>

  


<div id="container">
 <div id="banner">

  <div id="content">
      <h1> RULES </h1>
	<h2>GENERAL RULES</h2>
<ul>
	<li>The <strong>ID card</strong> is essential for availing all kinds of library service</li>
	<li>Users should get the items duly issued at the Circulation Counter and collect them in person</li>
	<li>Personal Books,Printed books,Printed materials,photocopymaterial are not allowed inside the library.</li>
	<li>Using <a href="/browse.php?u=RvM5VRZMs62bt5O9wUJFzRfMlkiLPWS%2B0C2HKUbVlHE8H3Cdr9NJxwKQUun4tGnzRIpa3j2e&amp;b=29" target="_blank">OPAC</a> PC's for checking Emails and Personal use and mutilation of Books is strictly prohibited.</li>
</ul>
<br>
<h2>CIRCULATION </h2>
<table border="1">
<tbody><tr><td><strong>Category of members</strong></td><td><strong>maximum books issued</strong></td><td><strong>Duration of Issue</strong></td></tr>
<tr><td>Faculty</td><td align="center">15</td><td align="center">One Semester</td></tr>
<tr><td>Technical and Supporting Staff</td><td align="center">05</td><td align="center">One Month</td></tr>
<tr><td>Other staff of the institute</td><td align="center">05</td><td align="center">One Month</td></tr>
<tr><td>Research Scholors</td><td align="center">05</td><td align="center"> Two Months</td></tr>
<tr><td>M.Tech/M.S</td><td align="center">05</td><td align="center">14 Days</td></tr>
<tr><td>Undergraduate</td><td align="center">04</td><td align="center">14 Days</td></tr>
</tbody></table>
<br>
<h2>Reserving the Documents</h2>
<ul>
<li>Resources can be reserved through web-OPAC only when they are on loan and not readily available</li>
<li>The reserved resources should be collected from library within 24 hours after intimation, otherwise the reservation stands cancelled</li>
</ul>
<h2>Renewals</h2>
<p>Books issued to members can be renewed unless they are reserved by some one else.They need to bring the books to the library for getting them re-issued.</p>
<h2>Return of Documents</h2>
<p>Documents checked out from the Library should be returned at the circulation counter during its working hours i.e., 10:00am to 05:00pm on any working day</p>
<h2>Loss of Books</h2>
<p>The borrower is required to either replace the books with a recent edition or pay four times the cost of the book</p>
<h2>Overdue Charges</h2>
<p>Overdue charges <strong>Rs. 5.00</strong> per day are charged for late return of the books</p>
<br>
</div>
    </div> </div>
