{{extend 'layout.html'}}
<h2>Services</h2>
<strong>IIIT-H Library provides following services to the library patrons.</strong>
<ul>
<li>The Library follows Open Access system.</li>
<li> Readers may approach the Reference Desk for any information or assistance regarding the Library Collections and Services.</li>
<li>The reference collection includes all kinds of handbook, dictionaries, encyclopedias on electronics and communication engineering, computer science, bioinformatics, biotechnology, civil engineering and humanities.</li>

<li>Circulation of books </li>

<li>Access to Online Journals through <strong>INDEST Consortia of IIT Delhi.</strong>. </li>
<li><a href="/browse.php?u=RvM5CEYc7%2F3f9tL%2Blg9akU%2Bf2lTabmWg23XQaxeGlG4tEHPCndUH3RWVeKnZvA%3D%3D&amp;b=29" target="_blank">Web OPAC</a> is available locally within the campus to get the information about the availability of books, status, overdue, latest date of return etc. with  <strong>Libsys</strong>
</li><li>Access to the Books, journals and other CD-ROM data bases.</li></ul>

<h3>Internet / Wireless</h3>

<li>
IIIT-H Library is fully connected with <strong>INTERNET</strong> access and <strong>WIRELESS</strong> facility is available in the Library. For the purpose of access of e-Journals, and various Educational Resources.</li>
<h3>Book Reservation</h3>

<li>
Now you can reserve the book using of OPAC service which are in circulation. Please contact the library staff for more details.

<h3>Request a Book</h3>
</li><li>
You are welcome to Request Books to our library which will help us to improve our library collection. <strong><a href="/browse.php?u=RvM5VRZMs62bt9KkyUgfih%2FGzA%2BEcSi40XzNfgeQ3nUtDjGFut0K&amp;b=29">(Book Requisition Form)</a></strong>

<strong><a href="/browse.php?u=RvM5VRZMs62bt5O9wUJFzRfMlkiLPWS%2B0C2HKUbVlHE8H3Cdr9NJxwKQUunFtH%2FgVZB1xy6f&amp;b=29"><h2>New Additions</h2></a></strong>

</li><li>
The Library announces regularly the list of new additions of books,Periodicals and CD-ROMs.This facilitates to draws the attention of users towards the latest information in their fields of Interest.
</li>

<h3>Reference Service</h3>

<li>The Library provides wide range of reference services as and when required by faculty members and students such as SDI, Citation search, Alerting, Content alert etc.</li>

<h3>Reprographic Facility</h3>

<li>
The Xeroxing facility in the Library is available for students can take<strong> photocopy</strong> of the desired documents.</li>

</div>
